
// body {
//   padding-bottom: 150px;
// }

.hero-body {
  flex-grow: 0;
  padding: 0;
}

html {
  margin-bottom: -200px;
}

section.section-dark {
  background-color: black;
}

div.navbar-item {
  background-color: black;
  transition: 0.5s;
}

div.navbar-item:hover {
  background-color: rgb(110, 2, 110);
  transition: 0.5s;
}

.navbar-menu.is-active {
  background-color: black;
}

.title, .subtitle {
font-family: 'Righteous', cursive;
letter-spacing: 1px;
}

.title {
  font-size: 50px;
}

.titleOne {
font-family: 'Righteous', cursive;
color: white;
letter-spacing: 1px;
font-size: 80px;
text-align: center;
}

.summary {
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  text-align: justify;
}

h6 {
  margin-top: 100px;
  font-family: 'Fira Sans Condensed', sans-serif; 
  font-size: 18px;
}

//home landing page
// section.gif.hero.is-medium {
//     background-image: url('../images/Disney_Villains.gif');
//     background-size: cover;
//     background-repeat: no-repeat;
// }


// section.image.hero.is-fullheight {
//   background-image: url('../images/villians-2.jpg');
//   // background-size: 1280px 750px;
//   background-repeat: no-repeat;
//   background-size: cover;
// }

// section.villain.hero-is-medium {
//   background-image: url('../images/villains-hero-3.jpg');
// }

section.section.dark {
  background-color: black;
}

h2.subtitle.has-text-white.disney {
  margin: 0 40px;
}

div.hero-body {
  background-color: black;
}

div.tile.is-ancestor {
  background-color: black;
}

div.tile.is-child.box {
  color: white;
  background-color: black;
}

p.title.light {
color: white;
}

span.true {
  background-color: rgb(110, 2, 110);
}

// iphone x
@media only screen 
and (min-device-width : 375px) 
and (max-device-width : 812px)
and (-webkit-device-pixel-ratio : 3) { 


div.navbar-item {
    background-color: black;
    transition: 0.5s;
  }

div.navbar-item:hover {
    background-color: rgb(110, 2, 110);
    transition: 0.5s;
  }

.hero.is-fullheight {
  min-height: 0vh;
}


.section.section.dark {
min-height: 20vh;
}


h1.title.has-text-white {
  margin: 60px;
}

p {
  font-size: 25px;
}
}




// iphone 6,7,8
@media only screen 
and (min-device-width : 375px) 
and (max-device-width : 667px) { 
  
  .hero.is-fullheight {
    min-height: 0vh;
  } 
.navbar-menu.is-active {
  background-color: black;
}

.section.section.dark {
  min-height: 20vh;
  }

// .hero-body {
// padding: 0px;
// }

}

// iphone 5 & 5s
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 568px) { 
  .hero.is-fullheight {
    min-height: 100vh;
  } 
  .navbar-menu.is-active {
    background-color: black;
  }

  .section.section.dark {
    min-height: 20vh;
    }

    p {
      font-size: 25px;
    }

}

// iphone 5s
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 568px) { 
  section.section {
    min-height: 100vh;
}
.section.section.dark {
  min-height: 20vh;
  }
}


// ipad 
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px)  { 
  .hero.is-fullheight {
    min-height: 100vh;
  }

  div.navbar-item {
    background-color: black;
    transition: 0.5s;
  }

  div.navbar-item:hover {
    background-color: rgb(110, 2, 110);
    transition: 0.5s;
  }
  .navbar-menu.is-active {
    background-color: black;
  }
  s
  div.section {
    // height: 2000px;
    flex-direction: row;
    flex-wrap: wrap;
  }

  div.section.img {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-shrink: 1;
  }
  p {
    font-size: 25px;
  }
  

 }

// div.tile.is-4.is-vertical.is-parent {
//   background-color: black;
// }

div p {
  font-family: 'Fira Sans Condensed', sans-serif;
}
//forms 
section.section-form {
  background-color: rgb(110, 2, 110);
  // position: relative;
  // margin-top: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  input.input {
    width: 500px;
  }
}
// villain form 
// div.field.title {
//   justify-content: center;
//   align-items: center; 
//   margin-left: auto;
//   margin-right: auto;
// }

section.section {
  background-color: rgb(110, 2, 110);
    position: relative;
    // margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
  input.input {
    width: 500px;
  }
}

div.card {
  background-color: black;
}

button.button {
  width: 300px;
  display: block;
  margin-left: auto;
  margin-right: auto,
}
   .villain-images:hover {
    transform: scale(0.95);
   
    } 
  
    .villain-images {
      width: 320px;
      height: 405px;
      transform-origin: 50% 65%;
      display: flex;
      justify-content: space-between;
      padding: 10px;
      transition: 0.5s; 
      /* width: 200px;
      height: 280px; */
      // margin-bottom: 5px; 
     }
   


// div .card-image {
//   margin-left: auto;
//   margin-right: auto;
//   transform-origin: 50% 65%;
//   transition: transform 5s, filter 3s ease-in-out;
//   filter: brightness(150%);
// }

//hover animation
// div.card-image {
//   transition: transform 2s, filter 1.5s ease-in-out;
//   transform-origin: center center;
//   filter: brightness(50%);
// } 

// div.card-image:hover {
//   filter: brightness(100%);
//   transform: scale(1.3);
// }


.white {
  color: #ffffff;
}

.white:hover {
  color:white;  
}

.navbar-item:hover {
  background-color: rgb(110, 2, 110);
 
}

.disneylogo img {
transform: scale(5);
margin: 2px;
margin-top:6px;
}

// img {
//   position: relative;
//   float: left;
//   width:  100px;
//   height: 100px;
//   background-position: 50% 50%;
//   background-repeat:   no-repeat;
//   background-size:     cover;
// }


.has-background-black{
  display: flex;
  // flex-direction: row-reverse;
  // align-items: stretch;
}
// .has-background-black > img{
// width: 290px; /* width of container */
// height: 300px; /* height of container */
// overflow: hidden;
// }



div.section {
  background-color:black;
}
section.section-form-hero-is-medium {
  background-color: rgb(110, 2, 110);
    // position: relative;
    top: -70px;
    width: 500px;
    height: 500px;
}



.label {
  color: white;
}


.label {
  color: white;
}

div.title {
  margin-top: 100px;
  color: white; 
}

/*aichi's comment boxes */
.name-bar.form-control {
  width: 400px;
  border: 4px solid, black;
  margin-top: 10px;
  margin-bottom: 8px;
  border-radius: 5px;

  } 
  .comment-bar.form-control {
    width: 400px;
    /* height: 200px; */
    border: 4px solid, black;
    border-radius: 5px;
    font-family: 'Fira Sans Condensed', sans-serif; 
  }

  button.comment-bar {
   font-family: 'Fira Sans Condensed', sans-serif; 
   background-color: black;
   color: white;
   font-size: 12px;
   padding: 10px;
   border-radius: 5px;
   font-weight: bold;
 
  }

  button.comment-bar:hover {
  /* height: 45px;
  width: 90px; */
  /* padding: 5px; */
  /* font-size: 14px; */
  transform: scale(1.1);
  }
  
  .commentmessage {
  margin-top: 20px;
  font-family: 'Fira Sans Condensed', sans-serif; 

  }

  .name-bar {
  font-family: 'Fira Sans Condensed', sans-serif; 
 }

 .footer {
   font-family: 'Fira Sans Condensed', sans-serif; 
   background-color: black;
   color: white;
 }